* {
	font-family: 'Comfortaa';
}

body {
	margin: 0;
	background: url(https://klike.net/uploads/posts/2019-06/1561182942_2.jpg) no-repeat center center fixed;
	background-size: cover;
}

.photo {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 325px;
	height: 325px;
	border: 4px solid #7C1D1D;
	border-radius: 200px;
	object-fit: cover;
}

.name {
	position: relative;
	width: 700px;
	height: 40px;
	left: 400px;
	top: 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.02em;
	color: #BE0000;
}

.group {
	position: relative;
	width: 185px;
	height: 36px;
	left: 400px;
	top: 25px;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.02em;
	color: #A92A2A;
}

.titleinfo {
	position: relative;
	width: 546px;
	height: 40px;
	left: 400px;
	top: 21px;
	font-size: 36px;
	line-height: 40px;
	color: #DF8B0D;
}

.textinfo {
	position: relative;
	width: 332px;
	height: 120px;
	left: 400px;
	top: 0px;
	font-size: 30px;
	line-height: 33px;
	letter-spacing: 0.02em;
	color: #FFA800;
}

.contacts {
	position: relative;
	width: 600px;
	height: 200px;
	left: 50px;
	top: 0px;
	font-size: 36px;
	line-height: 40px;
	color: #7CC91A;
}

.contactsinfo {
	color: #B2B792;
}

@media only screen and (max-width: 480px) {
	.photo {
		display: block;
		position: relative;
		left: 0px;
		margin: 0 auto;
		top: 50px;
		width: 400px;
		height: 400px;
		border: 4px solid #7C1D1D;
		border-radius: 200px;
	}
	.name {
		text-align: center;
		left: 0;
		top: 25px;
		height: 40px;
		font-size: 36px;
		line-height: 40px;
		letter-spacing: 0.02em;
		color: #BE0000;
	}
	.group {
		text-align: center;
		margin: 0 auto;
		left: 0px;
		top: 30px;
		width: 185px;
		height: 36px;
		font-size: 30px;
		line-height: 33px;
		letter-spacing: 0.02em;
		color: #A92A2A;
	}
	.titleinfo {
		text-align: center;
		margin: 0 auto;
		top: 30px;
		left: 0px;
		width: 546px;
		height: 40px;
		color: #DF8B0D;
	}
	.textinfo {
		top: 50px;
		left: 30px;
	}
	.contacts {
		top: 45px;
	}
	.titlecontacts {
		text-align: center;
		margin: 0 auto;
		width: 220px;
		height: 40px;
		top: 40px;
	}
	.contactsinfo {
		text-align: left;
		top: 30px;
	}
}
